input {
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-alt);
  font-weight: 500;
  padding: 0.3rem 1rem;
}

input:focus {
  border: none;
  background-color: rgb(255, 255, 231);
  outline: none;
}

label {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.input-container {
  height: 6.5rem;
}
.input__errors {
  font-size: 1rem;
  padding-top: 0.5rem;
  color: red;
  font-family: var(--font-alt);
  font-weight: 400;
}
